<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 오라클에서 사용할 쿼리문 mapper -->
<mapper namespace="com.KSCT.work.mapper.IndexMapper">

	<select id="getList" resultType="Menu">
		select * from Menu_Table
	</select>

	<select id="getOrderList" parameterType="test" resultType="test">
		select ol.*, ml.price
		from order_list ol, menu_list ml
		where ol.menu = ml.name
	</select>

	<select id="getsllist" resultType="test">
		select * from menu_list
	</select>
</mapper>